* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

.blue-skew-shape {
    height: 500px;
    width: 100%;

    position: absolute;

    background-color: rgb(50, 164, 230);

    transform-origin: top left;
    transform: skewY(-5deg);
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 50px 100px;
}

.title-container .profile {
    height: 500px;
    width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    z-index: 2;

    background-image: url("img/horses.jpg");

    background-size: cover;

    box-shadow: 1px 2px 5px grey;
}

.title-container .profile h1 {
    font-size: 3rem;
    font-weight: 400;
    color: white;
}

.title-container .about-me-section {
    height: 380px;
    width: 600px;

    display: grid;
    grid-template-rows: 50px 300px 50px;
    grid-template-columns: 500px;

    justify-content: center;

    z-index: 1;

    padding: 20px 0;

    background-color: white;

    box-shadow: 1px 2px 5px grey;
}

.title-container .about-me-section .icons {
    justify-self: end;
}

.title-container .about-me-section .icons svg {
    width: 30px;
}

.work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 50px 100px;
}

.work-container h1 {
    width: 1000px;

    display: flex;
    align-items: start;

    margin-bottom: 20px;
}

.work-container .projects-container {
    width: 1000px;

    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);

    gap: 60px 50px;
}

.work-container .projects-container .project {
    width: 300px;

    display: grid;
    grid-template-rows: 250px 150px;

    gap: 10px;

    box-shadow: 1px 2px 5px grey;
}

.work-container .projects-container .project .project-image {
    text-align: center;

    background-color: red;
    background-size: cover;
}

.work-container .projects-container .project .project-info {
    display: flex;
    flex-direction: column;

    gap: 10px;

    margin: 0 20px;
}

.work-container .projects-container .project .project-info .project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work-container .projects-container .project .project-info .project-icons svg {
    width: 20px;
}

.contact-container {
    height: 700px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 100px;

    background-color: rgb(50, 164, 230);

    color: white;
}

.contact-container .contact-data {
    height: 500px;
    width: 450px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    gap: 30px;
}

.contact-container .contact-data div {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.contact-container .contact-data svg {
    width: 20px;

    fill: white;
}

.contact-container .contact-data .icons svg {
    width: 30px;
}

.contact-container img {
    height: 500px;
}