* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

.blue-skew-shape {
    height: 500px;
    width: 100%;

    position: absolute;

    background-color: rgb(50, 164, 230);

    transform-origin: top left;
    transform: skewY(-5deg);
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 50px 100px;
}

.title-container .profile {
    height: 500px;
    width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    z-index: 2;

    background-image: url("img/horses.jpg");

    background-size: cover;

    box-shadow: 1px 2px 5px grey;
}

.title-container .profile h1 {
    width: 200px;

    font-size: 3rem;
    font-weight: 400;
    color: white;
}

.title-container .about-me-section {
    height: 380px;
    width: 600px;

    display: grid;
    grid-template-rows: 50px 300px 50px;
    grid-template-columns: 500px;

    justify-content: center;

    z-index: 1;

    padding: 20px 0;

    background-color: white;

    box-shadow: 1px 2px 5px grey;
}

.title-container .about-me-section h1 {
    font-size: 3rem;
    font-weight: 400;
}

.title-container .about-me-section p {
    margin-top: 30px;

    font-size: 1.2rem;
    font-weight: 300;

    line-height: 32px;
}

.title-container .about-me-section .icons {
    justify-self: end;
}

.title-container .about-me-section .icons svg {
    width: 30px;
}

.work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 50px 100px;
}

.work-container h1 {
    width: 1000px;

    display: flex;
    align-items: start;

    margin-bottom: 20px;
}

.work-container .projects-container {
    width: 1000px;

    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 500px));

    gap: 60px 50px;
}

.work-container .projects-container .project {
    width: 300px;

    display: grid;
    grid-template-rows: 250px 150px;

    gap: 10px;

    box-shadow: 1px 2px 5px grey;
}

.work-container .projects-container .project .project-image {
    text-align: center;

    background-color: red;
    background-size: cover;
}

.work-container .projects-container .project .project-info {
    display: flex;
    flex-direction: column;

    gap: 10px;

    margin: 0 20px;
}

.work-container .projects-container .project .project-info .project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work-container .projects-container .project .project-info .project-icons svg {
    width: 20px;
}

.contact-container {
    height: 700px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 100px;

    padding: 50px 100px;

    background-color: rgb(50, 164, 230);

    color: white;
}

.contact-container .contact-data {
    height: 500px;
    width: 450px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    gap: 30px;
}

.contact-container .contact-data div {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.contact-container .contact-data svg {
    width: 20px;

    fill: white;
}

.contact-container .contact-data .icons svg {
    width: 30px;
}

.contact-container img {
    height: 500px;
}

@media screen and ((width >= 700px) and (width <= 1100px)) {
    .blue-skew-shape {
        z-index: -1;
    }

    .title-container {
        margin: auto;
    }

    .title-container,
    .title-container .profile,
    .title-container .about-me-section {
        display: block;
    }

    .title-container .about-me-section .icons {
        display: none;
    }

    .title-container .profile {

        float: left;

        margin-top: 15px;
        margin-left: 15px;

        transform: translateY(-15px) translateX(-15px);
    }

    .title-container .profile h1 {
        transform: translateX(350px) translateY(20px);
    }

    .title-container .about-me-section {
        height: auto;
        width: auto;

        margin-top: 220px;
        margin-left: 130px;

        padding: 30px;
    }

    .work-container h1 {
        width: 100%;
    }

    .work-container .projects-container {
        width: 100%;

        grid-template-columns: repeat(2, minmax(200px, 500px));
    }

    .work-container .projects-container .project {
        width: 100%;
    }

    .contact-container .contact-data {
        height: 400px;
        width: 200px;
    }

    .contact-container img {
        height: 400px;
    }
}

@media screen and (width < 700px) {
    .blue-skew-shape {
        transform: skewY(-20deg);
    }

    .title-container {
        display: flex;
        flex-direction: column;

        padding: 10px 20px;
    }

    .title-container .profile {
        width: 100%;
    }

    .title-container .about-me-section {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        box-shadow: none;
    }

    .title-container .about-me-section p {
        margin: 0;
    }

    .work-container {
        padding: 10px 20px;
    }

    .work-container h1 {
        width: 100%;
    }

    .work-container .projects-container {
        width: 100%;

        grid-template-columns: repeat(1, minmax(200px, 700px));
    }

    .work-container .projects-container .project {
        height: 600px;
        width: 100%;

        grid-template-rows: 350px 250px;
    }

    .contact-container {
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 0;
    }

    .contact-container .contact-data {
        height: auto;
        width: auto;

        margin-top: 30px;

        padding: 10px 20px;
    }

    .contact-container .contact-data h1 {
        align-self: center;

        font-size: 3rem;
    }

    .contact-container .contact-data p {
        font-size: 1.7rem;
    }

    .contact-container .contact-data .icons {
        align-self: center;

        gap: 50px;
    }

    .contact-container .contact-data .icons svg{
        width: 50px;
    }

    .contact-container img {
        height: auto;
        width: 100%;
    }
}